server:
  port: 8080
spring:
  application:
    name: api-gateway
  datasource:
    url: jdbc:mysql://localhost:3306/store
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
   hibernate:
    ddl-auto: create
   show-sql: true	
  cloud:
   gateway:
    routes:
    - id: product-service
      uri: http://localhost:8081
      predicates:
      - Path=/products/**
    - id: sale-service
      uri: http://localhost:8082
      predicates:
      - Path=/sale/**
    - id: auth-service
      uri: http://localhost:6070
      predicates:
      - Path=/api/auth/**
eureka:
 client:
  serviceUrl:
   defaultZone: http://localhost:8761/eureka/
   instance:
    instance-id:${spring.application.name}:${spring.application.instance_id:${random.value}}
#jwt:
# secret: be6906729823cb7d20d5b4fdb04edde948d424ff2dbb4a1d5498f5a0c14b3a25
# expiration-time : 3600000